<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page[:title] %></title>
  <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
</head>

<% tag :body, filter_nil!({:class => @page[:class]}) do %>
  
  <div id="wrapper">  
    <div id="header">
      <div id="preferences">
        <label for="use_locale">
          <input type="checkbox" id="use_locale" name="use_locale" value="true">
          Set your realm and faction
        </label>
        <form action="/preferences" method="post">
          <select name="faction">
            <option value="average">Faction average</option>
            <optgroup label="Select your faction">
              <option value="alliance">Alliance</option>
              <option value="horde">Horde</option>
              <option value="neutral">Neutral</option>
            </optgroup>
          </select>
          
          <select name="realm">
            <option value="average">Realm average</option>
            <%= realmlist(:us) %>
            <%= realmlist(:eu) %>
            <%= realmlist(:kr) %>
            <%= realmlist(:tw) %>
          </select>
        </form>
      </div>

      <h1><a href="/"><span class="wow">wow</span>bom</a> <span class="beta">beta</span></h1>
      
      <p>Enter an item name or <abbr title="You can find out an item's ID using wowhead.com">ID</abbr> to find out how much it costs to craft.</p>
      
      <form action="/" method="post">
        <input type="text" name="query" id="query"> <button class="search disabled" name="submit" disabled="disabled">Search</button>
      </form>
    </div>

    <% tag :div, :id => "content" do %>
  <%= yield %>
      <br>
    <% end %>
    <div id="footer">
      <span class="wow">wow</span>bom was made by <a href="http://www.kapowaz.net/">Ben Darlow</a> using the finest, freshest data from <a href="http://www.wowhead.com/">wowhead</a> and <a href="http://www.wowecon.com/">wowecon</a>. Remember to tip your crafter.
    </div>
  </div>  
  
  <!--<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/widgets.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/currency.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/recipe.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
<% end %>
</html>