<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page[:title] %></title>
  <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
</head>

<% tag :body, filter_nil!({:class => @page[:class]}) do %>
  
  <div id="wrapper">  
    <div id="header">
      <div id="preferences">
        <% unless @user.nil? %>
          <%= partial :select_realm %>
        <% else %>
          <%= partial :login_bar %>
        <% end %>
      </div>

      <h1><a href="/"><span class="wow">wow</span>bom</a> <span class="beta">beta</span></h1>
      
      <%= partial :categories, :locals => filter_nil!(:item => @item, :category => @category, :inventory_slot => @inventory_slot) %>
    </div>

    <% tag :div, :id => "content" do %>
  <%= yield %>
      <br>
    <% end %>
    <div id="footer">
      <span class="wow">wow</span>bom was made by <a href="http://www.kapowaz.net/">Ben Darlow</a> using the finest, freshest data from <a href="http://www.wowhead.com/">wowhead</a> and <a href="http://www.wowecon.com/">wowecon</a>. Remember to tip your crafter.
    </div>
  </div>  
  
  <% [:'http://static.wowhead.com/widgets/power.js',
      :'http://code.jquery.com/jquery-1.6.1.min.js',
      :'lib/jquery.spritely-0.5',
      :'lib/jquery.validate.min',
      :'categories',
      :'inventory_slots',
      :'utilities',
      :'widgets.jquery',
      :'currency.jquery',
      :'recipe.jquery',
      :'categories.jquery',
      :'application'].each do |src| %>
    <%= script_tag :src => src %>
  <% end %>
  
	<% yield_content :javascript %>
<% end %>
</html>